body{
    box-sizing: border-box;
    background-color: black;
}
.container-father { 
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/DzRxYQLb/background1.jpg");
    /* background-position: center center; */
    background-size: cover;
}

.container-title { 
    text-align: center;    
    font-family: 'Rosario', sans-serif;
    color: white;
     
}

.container-author {
    text-align: center;
    font-family: 'Rosario', sans-serif;
    color: white;  
}

.container-date { 
    text-align: center;
    font-family: 'Rosario', sans-serif;
    color: white;
}

.container-down {
    display: flex;
    justify-content: center;
    display: inline-block;
}

.container-media {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.img-apod {
    outline: 8px ridge rgba(7, 0, 10, 0.6);
    width: 80%;
    height: 80%;
    display: none;
}

.iframe-video {
    width: 80%;
    height: 500px;
    
}

.container-explanation {
    padding: 0 20px;
    text-align: center;
    color: white;
    font-family: 'Rosario', sans-serif;
    font-size: 20px;
}

.footer {
    color: white;
    text-align: center;
}


@media screen and (max-width: 560px) {

    .container-media {
        display: flex;
        justify-content: center;
        padding: 50px 10px;
        
    }

    .iframe-video {
        width: 100%;
        height: 250px;
    }
} 

